<h1>Listing incidents</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Date of incident</th>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Description</th>
    <th>Email</th>
    <th>Can we send you email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @incidents.each do |incident| %>
  <tr>
    <td><%= incident.name %></td>
    <td><%= incident.date_of_incident %></td>
    <td><%= incident.address %></td>
    <td><%= incident.latitude %></td>
    <td><%= incident.longitude %></td>
    <td><%= incident.description %></td>
    <td><%= incident.email %></td>
    <td><%= incident.can_we_send_you_email %></td>
    <td><%= link_to 'Show', incident %></td>
    <td><%= link_to 'Edit', edit_incident_path(incident) %></td>
    <td><%= link_to 'Destroy', incident, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Incident', new_incident_path %>
